Flask==3.0.3
gunicorn==23.0.0
easyocr==1.7.2
opencv-python-headless==4.10.0.84
numpy==1.26.4
Pillow==10.4.0
rapidfuzz==3.10.1
pandas==2.2.2
openpyxl==3.1.5
PyMuPDF==1.24.10
torch==2.3.1
torchvision==0.18.1